---
import "../styles/global.css";

import Layout from "@/layouts/Layout.astro";

import Course from "@/components/Course.astro";
import Skills from "@/components/Skills.astro";
import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/Profile.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";

import Curso from "@/assets/cursos.svg";
import Skill from "@/assets/skill.svg";
---

<Layout
  title="Porfolio de César Cardozo - Ingeniero de Sistemas Computacionales"
  description="Contrata a César Cardozo para crear tu aplicación web o de escritorio. Desarrollador Web y desarrollador de software. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer id="presentación" class="py-20 md:py-24">
      <Hero />
    </SectionContainer>
  </main>
  <div class="relative max-w-4xl mx-auto w-full px-6 rounded-2xl space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="skills">
      <TitleSection>
        <Skill class="size-8" />
        Tecnologías que conozco
      </TitleSection>
      <Skills />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="cursos">
      <TitleSection>
        <Curso class="size-8" />
        Cursos y certificaciones
      </TitleSection>
      <Course />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
