---
const personalImageAlt = "César Cardozo";
---

<article
  class="max-w-4xl mx-auto w-full py-6 space-y-6 text-blue-900 dark:text-white font-mono leading-relaxed"
>
  <p>
    Soy <strong class="text-blue-950 dark:text-cyan-300"
      >{personalImageAlt}</strong
    >, Ingeniero de Sistemas Computacionales con enfoque en desarrollo web,
    software y proyectos de impacto social. Mi motivación siempre ha sido
    <strong class="underline decoration-blue-300 dark:decoration-cyan-400">
      crear soluciones que conecten la tecnología con la educación, la
      sostenibilidad y la inclusión
    </strong>.
  </p>

  <p>
    He trabajado en proyectos como
    <strong class="text-blue-950 dark:text-cyan-300">“Manos con Voz”</strong>,
    una app que traduce lengua de señas peruana;
    <strong class="text-blue-950 dark:text-cyan-300"
      >“Huertos Inteligentes”</strong
    >, con sensores y automatización para promover educación ambiental; y
    <strong class="text-blue-950 dark:text-cyan-300">“TIC Warmikuna”</strong>,
    donde enseñamos programación a escolares para reducir la brecha digital.
  </p>

  <p>
    Mi objetivo es seguir creciendo como desarrollador, siempre con una mirada
    crítica sobre cómo usamos la tecnología para generar impacto real.
  </p>
</article>
